
/* ナビゲーション */
.navcontainer {
    background-color: #f2f2f2;
}

.rounded-title {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    margin: 1em;
}

.main-container{
    padding: 0 30px;
}

.registration-container{
    border: 2px solid rgb(49, 49, 49);
    padding: 1.5em;
    margin: 1.5em;
}

.form-container{
    margin: 1em;
}

.explanation{
    margin: 1em;
}
